<section class="container__section section about" id="about">
	
	<div class="section__wrap about__wrap">

		<div class="about__bulling about-bulling">
			
			<h2 class="section__title about-bulling__title">
				Что такое буллинг?
			</h2>

			<div class="about-bulling__text text">
				<p>
					Буллинг — это намеренная, постоянная травля и издевательства одного ученика над другим, причём силы всегда не равны, и нет возможности противостоять обидчику.
				</p>
			</div><!-- /.about-bulling__text -->

			<div class="about-bulling__button-placeholder">
				
				@@if (role === "boys"){
				<a href="bulling-articles-boys.html#article-1" class="about-bulling__button button button--yellow button--m">ЧИТАТЬ ПОДРОБНЕЕ</a>
				}
				
				@@if (role === "girls"){
				<a href="bulling-articles-girls.html#article-1" class="about-bulling__button button button--yellow button--m">ЧИТАТЬ ПОДРОБНЕЕ</a>
				}

			</div><!-- /.about-bulling__button-placeholder -->

		</div><!-- /.about__bulling -->


		<ul class="about__list">

			@@if (role === "boys"){
			
			<li class="about__item about-item">
				
				<a href="bulling-articles-boys.html#article-2" class="about-item__href">
					
					<span class="about-item__image-placeholder">
						
						<img src="assets/images/pers/about-finn.png" alt="" class="about-item__image">

					</span>

					<span class="about-item__text-placeholder">
						<span class="about-item__text">
							Что делать, если тебя обижают?
						</span>
					</span>

				</a>
				
			</li> <!-- /.about__item -->
			
			<li class="about__item about-item">
				
				<a href="bulling-articles-boys.html#article-3" class="about-item__href">
					
					<span class="about-item__image-placeholder">
						
						<img src="assets/images/pers/about-jake.png" alt="" class="about-item__image">

					</span>


					<span class="about-item__text-placeholder">
						<span class="about-item__text">
							Что делать, если ты видишь, как кого-то обижают?
						</span>
					</span>

				</a>
				
			</li> <!-- /.about__item -->

			}

			@@if (role === "girls"){
			
			<li class="about__item about-item">
				
				<a href="bulling-articles-girls.html#article-2" class="about-item__href">
					
					<span class="about-item__image-placeholder">
						
						<img src="assets/images/pers/about-cat.png" alt="" class="about-item__image">

					</span>

					<span class="about-item__text-placeholder">
						<span class="about-item__text">
							Что делать, если тебя обижают?
						</span>
					</span>

				</a>
				
			</li> <!-- /.about__item -->
			
			<li class="about__item about-item">
				
				<a href="bulling-articles-girls.html#article-3" class="about-item__href">
					
					<span class="about-item__image-placeholder">
						
						<img src="assets/images/pers/about-girl.png" alt="" class="about-item__image">

					</span>


					<span class="about-item__text-placeholder">
						<span class="about-item__text">
							Что делать, если ты видишь, как кого-то обижают?
						</span>
					</span>

				</a>
				
			</li> <!-- /.about__item -->

			}
			
			<li class="about__item about-item">
				
				<label class="about-item__href select-age">
					
					<span class="about-item__image-placeholder">
						
						<img src="assets/images/pers/about-princess.png" alt="" class="about-item__image">

					</span>


					<span class="about-item__text-placeholder">
						<span class="about-item__text">
							Пройди опрос
						</span>
					</span>

					<input type="checkbox" class="select-age__input" value="sd" />

					<spam class="select-age__content">

						<span class="select-age__title">
							Выбери свой класс
						</span><!-- /.select-age__title -->

						<span class="select-age__list">
							
							<span class="select-age__item">
								
								<a 
									@@if (role === 'boys'){
									href="https://ru.surveymonkey.com/r/cn_2_3_b" 
									}
									@@if (role === 'girls'){
									href="https://ru.surveymonkey.com/r/cn_2_3_g" 
									}

									class="select-age__button button button--yellow button--s" target="_blank">2</a>

							</span>

						</span>
						

						<span class="select-age__list">
							
							<span class="select-age__item">
								
								<a 
									@@if (role === 'boys'){
									href="https://ru.surveymonkey.com/r/cn_2_3_b" 
									}
									@@if (role === 'girls'){
									href="https://ru.surveymonkey.com/r/cn_2_3_g" 
									}

									class="select-age__button button button--yellow button--s" target="_blank">3</a>

							</span>

						</span>
						

						<span class="select-age__list">
							
							<span class="select-age__item">
								
								<a 
									@@if (role === 'boys'){
									href="https://ru.surveymonkey.com/r/cn_4_6" 
									}
									@@if (role === 'girls'){
									href="https://ru.surveymonkey.com/r/cn_4_6g" 
									}

									class="select-age__button button button--yellow button--s" target="_blank">4</a>

							</span>

						</span>
						

						<span class="select-age__list">
							
							<span class="select-age__item">
								
								<a 
									@@if (role === 'boys'){
									href="https://ru.surveymonkey.com/r/cn_4_6" 
									}
									@@if (role === 'girls'){
									href="https://ru.surveymonkey.com/r/cn_4_6g" 
									}

									class="select-age__button button button--yellow button--s" target="_blank">5</a>

							</span>

						</span>
						

						<span class="select-age__list">
							
							<span class="select-age__item">
								
								<a 
									@@if (role === 'boys'){
									href="https://ru.surveymonkey.com/r/cn_4_6" 
									}
									@@if (role === 'girls'){
									href="https://ru.surveymonkey.com/r/cn_4_6g" 
									}

									class="select-age__button button button--yellow button--s" target="_blank">6</a>

							</span>

						</span>

					</spam><!-- /.select-age__list -->

				</label>
				
			</li> <!-- /.about__item -->
		
		</ul> <!-- /.about__list -->

		<div class="about__video video-player">
			
			<div class="video-player__media-container">

				<div class="video-player__media">

					<iframe class="video-player__frame js-video-player-frame" width="710" height="388" src="about:blank" frameborder="0" allowfullscreen></iframe>
				
					<a href="https://www.youtube.com/embed/Bi8wIo2tbms?rel=0&amp;showinfo=0&autoplay=1" class="video-player__href js-video-player-play">
						<img src="assets/images/video.jpg" alt="video" class="video-player__thumb">
					</a>

				</div><!-- /.video-player__media -->

			</div><!-- /.video-player__media-placeholder -->

		</div><!-- /.about__video -->
	
	</div> <!-- /.about__wrap -->

</section> <!-- /.about -->
