<section class="container__section section article-footer" id="article-footer">
	
	<div class="section__wrap article-footer__wrap">

		<div class="article-footer__image-placeholder article-footer__image-placeholder--start">
			
			<img src="assets/images/pers/article-girl.png" alt="" class="article-footer__image">

		</div><!-- /.competition__image-placeholder -->

		<div class="article-footer__image-placeholder article-footer__image-placeholder--end">
			
			<img src="assets/images/pers/article-boy.png" alt="" class="article-footer__image">

		</div><!-- /.competition__image-placeholder -->

		<div class="article-footer__button-placeholder">
			@@if (role === "teachers"){
			<a href="bulling-teachers.html" class="article-footer__button button button--yellow button--m">НАЗАД</a>
			}
			@@if (role === "parents"){

			<a href="bulling-parents.html" class="article-footer__button button button--yellow button--m">НАЗАД</a>

			}
			@@if (role === "boys"){

			<a href="bulling-boys.html" class="article-footer__button button button--yellow button--m">НАЗАД</a>

			}
			@@if (role === "girls"){

			<a href="bulling-girls.html" class="article-footer__button button button--yellow button--m">НАЗАД</a>

			}

			

		</div><!-- /.about__button-placeholder -->
	
	</div> <!-- /.article-footer__wrap -->

</section> <!-- /.article-footer -->

@@if (role === "teachers"){

<a href="bulling-teachers.html" class="article-back-link">НАЗАД</a>

}
@@if (role === "parents"){

<a href="bulling-parents.html" class="article-back-link">НАЗАД</a>

}
@@if (role === "boys"){

<a href="bulling-boys.html" class="article-back-link">НАЗАД</a>

}
@@if (role === "girls"){

<a href="bulling-girls.html" class="article-back-link">НАЗАД</a>

}
