<section class="container__section section articles-links" id="articles-links">
	
	<div class="section__wrap articles-links__wrap">

		<h2 class="section__title articles-links__title">
			Статьи
		</h2>

		<ul class="articles-links__list">

			@@if (role === "teachers"){
			
			<li class="articles-links__item articles-links-item">
				
				<a href="bulling-articles-teachers.html#article-4" class="articles-links-item__href">
					
					<span class="articles-links-item__image-placeholder">
						
						<img src="assets/images/articles/3.jpg" alt="">

					</span>

					<span class="articles-links-item__text-placeholder">
						<span class="articles-links-item__text">
							Что делать учителю, если в классе кого-то травят?
						</span>
					</span>

				</a>
				
			</li> <!-- /.articles-links__item -->
			
			<li class="articles-links__item articles-links-item">
				
				<a href="bulling-articles-teachers.html#article-6" class="articles-links-item__href">
					
					<span class="articles-links-item__image-placeholder">
						
						<img src="assets/images/articles/2.jpg" alt="">

					</span>

					<span class="articles-links-item__text-placeholder">
						<span class="articles-links-item__text">
							Как рассказать детям о терпимости?
						</span>
					</span>

				</a>
				
			</li> <!-- /.articles-links__item -->
		
			
			<li class="articles-links__item articles-links-item">
				
				<a href="bulling-articles-teachers.html#article-7" class="articles-links-item__href">
					
					<span class="articles-links-item__image-placeholder">
						
						<img src="assets/images/articles/4.jpg" alt="">

					</span>

					<span class="articles-links-item__text-placeholder">
						<span class="articles-links-item__text">
							Как и о чем разговаривать с родителями буллеров и их жертв?
						</span>
					</span>

				</a>
				
			</li> <!-- /.articles-links__item -->

			}

			
			@@if (role === "parents"){

			<li class="articles-links__item articles-links-item">
				
				<a href="bulling-articles-parents.html#article-6" class="articles-links-item__href">
					
					<span class="articles-links-item__image-placeholder">
						
						<img src="assets/images/articles/1.jpg" alt="">

					</span>

					<span class="articles-links-item__text-placeholder">
						<span class="articles-links-item__text">
							Как себя вести, если ваш ребенок – буллер?
						</span>
					</span>

				</a>
				
			</li> <!-- /.articles-links__item -->
			
			<li class="articles-links__item articles-links-item">
				
				<a href="bulling-articles-parents.html#article-5" class="articles-links-item__href">
					
					<span class="articles-links-item__image-placeholder">
						
						<img src="assets/images/articles/2.jpg" alt="">

					</span>

					<span class="articles-links-item__text-placeholder">
						<span class="articles-links-item__text">
							Как себя вести, если ваш ребенок – жертва буллинга?
						</span>
					</span>

				</a>
				
			</li> <!-- /.articles-links__item -->

			}

		
		</ul> <!-- /.articles-links__list -->

		<div class="articles-links__all-placeholder">
			
			@@if (role === "parents"){

			<a href="bulling-articles-parents.html" class="articles-links__all link">Смотреть все статьи &rarr;</a>

			}

			
			@@if (role === "teachers"){

			<a href="bulling-articles-teachers.html" class="articles-links__all link">Смотреть все статьи &rarr;</a>

			}

		</div><!-- /.articles-links__all-placeholder -->

		<div class="articles-links__quiz-placeholder">
			
			@@if (role === "parents"){

			<a href="https://ru.surveymonkey.com/r/cn_parents" class="button button--yellow button--m" target="_blank">Пройдите опрос для родителей</a>

			}

			
			@@if (role === "teachers"){

			<a href="https://ru.surveymonkey.com/r/cn_teachers" class="button button--yellow button--m"  target="_blank">Пройдите опрос для учителей</a>

			}
			


		</div><!-- /.articles-links__quiz-placeholder -->
	
	</div> <!-- /.articles-links__wrap -->

</section> <!-- /.articles-links -->



