<section class="container__section section home home--adults" id="home">
	
	<div class="section__wrap home__wrap">

		<div class="home__clouds">
			
		</div><!-- /.home__logos -->

		<div class="home__logos">

			<span class="home-logos"></span>
			
		</div><!-- /.home__logos -->

		<div class="home__bulling about-bulling">
			
			<h2 class="section__title about-bulling__title">
				Что такое буллинг?
			</h2>
			
			@@if (role === "parents"){
			<div class="about-bulling__text text">
				<p>
					Буллинг — английский аналог слова «травля». В это понятие входит намеренная, постоянная травля, при которой явно прослеживается неравенство сил обидчика и агрессора; террор любого вида: психологический, физический, открытый и незаметный.
				</p>
			</div><!-- /.about-bulling__text -->
			}

			@@if (role === "teachers"){
			<div class="about-bulling__text text">
				<p>
					Буллинг — английский аналог слова «травля». В это понятие входит намеренная, постоянная травля, при которой явно прослеживается неравенство сил обидчика и агрессора; террор любого вида: психологический, физический, открытый и незаметный. Тычки, оскорбления, угрозы, драки, унизительные клички, высмеивание, бойкот, шантаж, издевательства, вымогательство и воровство — всё это проявления буллинга. 
				</p>
			</div><!-- /.about-bulling__text -->
			}

			<div class="about-bulling__button-placeholder">
				
				<a href="#" class="about-bulling__button button button--yellow button--m">ЧИТАТЬ ПОДРОБНЕЕ</a>

			</div><!-- /.about-bulling__button-placeholder -->

		</div><!-- /.about__bulling -->


	</div> <!-- /.home__wrap -->

</section> <!-- /.home -->
