<section class="container__section section home home--kids" id="home">
	
	<div class="section__wrap home__wrap">

		<div class="home__clouds">
			
		</div><!-- /.home__logos -->

		<div class="home__logos">

			@@include('../common/logos.html', {
				"role": "kids"
			})
			
		</div><!-- /.home__logos -->

		@@if (role === "girls"){
		<img src="assets/images/pers/home-girl.png" alt="" class="home__pers home__pers--boy">
		}
		@@if (role === "boys"){
		<img src="assets/images/pers/home-boy.png" alt="" class="home__pers home__pers--boy">
		}

		<div class="home__codex about-codex">

			<h1 class="section__title about-codex__title">
				КОДЕКС ЧЕСТИ 
			</h1>

			@@include('../common/about-codex-list.html', {
			})

			@@include('../common/codex-download.html', {
				"role": "@@role"
			})

		</div><!-- /.home__codex -->
	
	</div> <!-- /.home__wrap -->

</section> <!-- /.home -->
