<section class="container__section section home home--kids" id="home">
	
	<div class="section__wrap home__wrap">

		<div class="home__clouds">
			
		</div><!-- /.home__logos -->

		<div class="home__logos">

			<span class="home-logos"></span>
			
		</div><!-- /.home__logos -->

		@@if (role === "girls"){
		<img src="assets/images/pers/home-girl.png" alt="" class="home__pers home__pers--boy">
		}
		@@if (role === "boys"){
		<img src="assets/images/pers/home-boy.png" alt="" class="home__pers home__pers--boy">
		}

		<div class="home__codex about-codex">

			<h1 class="section__title about-codex__title">
				КОДЕКС ЧЕСТИ 
			</h1>

			<ul class="about-codex__list">
				
				<li class="about-codex__item">
					
					Всегда поступай с другими только так, как хочешь чтобы поступали с тобой.

				</li> <!-- /.about-codex__item -->
				
				<li class="about-codex__item">
					
					Веди себя доброжелательно и дружелюбно, ведь друзья нужны всем.
					
				</li> <!-- /.about-codex__item -->
				
				<li class="about-codex__item">
					
					Веди себя честно и открыто.
					
				</li> <!-- /.about-codex__item -->
				
				<li class="about-codex__item">
					
					Заступайся за других, когда им нужна помощь.
					
				</li> <!-- /.about-codex__item -->
				
				<li class="about-codex__item">
					
					Найди в себе смелость попросить прощение, если сделал что-то неправильно.
					
				</li> <!-- /.about-codex__item -->
				
				<li class="about-codex__item">
					
					Поддержи того, у кого плохое настроение.
					
				</li> <!-- /.about-codex__item -->
				
				<li class="about-codex__item">
					
					Веселись вместе с друзьями и приглашай в свою компанию остальных!
					
				</li> <!-- /.about-codex__item -->
			
			</ul> <!-- /.about-codex__list -->

			<div class="about-codex__download">
				
				<div class="about-codex__button-placeholder">
					
					<a href="#" download class="about-codex__button button button--yellow button--m button--block">скачать</a>

				</div><!-- /.about-codex__button-placeholder -->
				
				<div class="about-codex__button-placeholder">
					
					<a href="#" class="about-codex__button button button--yellow button--m button--block">распечатать</a>

				</div><!-- /.about-codex__button-placeholder -->

			</div><!-- /.about-codex__download -->

		</div><!-- /.home__codex -->
	
	</div> <!-- /.home__wrap -->

</section> <!-- /.home -->
