<section class="container__section section vebinar" id="vebinar">
	
	<div class="section__wrap vebinar__wrap">

		<h2 class="section__title vebinar__title">
			@@if (role === "parents"){
				Вебинар для родителей
			}
			@@if (role === "teachers"){
				Вебинар для учителей
			}
		</h2>
	
		<div class="section__text vebinar__text text">
			<p>
				Начало в 16:00 (МСК) 23 сентября 2016.
			</p>
		</div><!-- /.vebinar__text -->

		<div class="vebinar__frames">

			<div class="vebinar__frame-placeholder">
				
				<iframe class="vebinar__frame" width="853" height="480" src="https://www.youtube.com/embed/Ke30-HAft3E?rel=0&amp;showinfo=1" allowfullscreen></iframe>
		

			</div><!-- /.vebinar__frame-placeholder -->

			<div class="vebinar__frame-placeholder">
				
				<iframe class="vebinar__frame" width="853" height="480" src="https://www.youtube.com/live_chat?v=Ke30-HAft3E&embed_domain=localhost" allowfullscreen></iframe>	

			</div><!-- /.vebinar__frame-placeholder -->

		</div><!-- /.vebinar__frames -->
	
		<div class="section__text vebinar__text text">
			<p>
				Вебинар проводит Галина Владимировна Солдатова — профессор факультета психологии МГУ им. М.В. Ломоносова и директор «Фонда Развития Интернет».
			</p>
		</div><!-- /.vebinar__text -->
	
	</div> <!-- /.vebinar__wrap -->

</section> <!-- /.vebinar -->
