@@if (role === "boys"){

@@include('../common/article-header.html', {
	"role": "boys"
})

}

@@if (role === "girls"){

@@include('../common/article-header.html', {
	"role": "girls"
})

}



<section class="container__section section articles-headings" id="articles-headings">
	
	<div class="section__wrap articles-headings__wrap">

		<ul class="articles-headings__list">
			
			<li class="articles-headings__item">
				
				<a href="#article-1" class="articles-headings__href link">Что такое буллинг (травля)?</a>
				
			</li> <!-- /.articles-headings__item -->
			
			<li class="articles-headings__item">
				
				<a href="#article-2" class="articles-headings__href link">Что делать, если тебя обижают?</a>
				
			</li> <!-- /.articles-headings__item -->
			
			<li class="articles-headings__item">
				
				<a href="#article-3" class="articles-headings__href link">Что делать, если ты видишь, как кого-то обижают?</a>
				
			</li> <!-- /.articles-headings__item -->
		
		</ul> <!-- /.articles-headings__list -->
	
	</div> <!-- /.articles-headings__wrap -->

</section> <!-- /.articles-headings -->


<section class="container__section section article" id="article-1">
	
	<div class="section__wrap article__wrap">

		<h2 class="section__title article__title">
			Что такое буллинг (травля)?
		</h2>

		<div class="section__text article__text text">
			<p>
				— Буллинг — это намеренная, постоянная травля и издевательства одного ученика над другим, причём силы всегда не равны, и нет возможности противостоять обидчику.
			</p>
			<p>
				— Буллинг может быть заметным — подножки, тычки, щипки, драка, нарочно испачканная одежда, порванные тетради и учебники, украденные вещи.
			</p>
			<p>
				— Ещё буллинг бывает психологическим: неприятные слова, обзывательства и обидные прозвища, бойкот, угрозы, шантаж, высмеивание и издевательства.
			</p>
			<p>
				— Буллинг может происходить где угодно: в школе (в классе, в спортзале, в раздевалке, в столовой), на улице (во дворе, на детской площадке, по дороге домой) и даже в интернете и по телефону, когда тебе присылают неприятные сообщения или картинки. 
			</p>
			<p>
				— Буллинг — это всегда неправильно! Ему нет оправдания!
			</p>
		</div><!-- /.article__text -->
	
	</div> <!-- /.article__wrap -->

</section> <!-- /.article -->


<section class="container__section section article" id="article-2">
	
	<div class="section__wrap article__wrap">

		<h2 class="section__title article__title">
			Что делать, если тебя обижают?
		</h2>

		<div class="section__text article__text text">

			<h3>
				Твоя первая задача — не быть одиноким
			</h3>

			<p>
				— Помни: обидчик (то есть буллер) обычно выбирает в жертву кого-то, кто слабее его. Буллить (травить) могут кого угодно, любого ученика, и не потому, что с ним что-то не так, а потому, что обижать других – самый легкий путь почувствовать себя сильным! Поэтому, если тебя обижают, знай: твоей вины в этом нет! Это не с тобой что-то не так, а с твоими обидчиками! 
			</p>
			<p>
				— Расскажи, что тебя обижают, друзьям, учителю, взрослому, которому ты доверяешь. Если друзья не понимают тебя и советуют никому не рассказывать и просто терпеть — не расстраивайся и не беспокойся, они не настроены против тебя, а просто до конца не осознают серьёзность ситуации. Ни в коем случае нельзя замалчивать травлю!
			</p>
			<p>
				— Обязательно поделись с родителями — они знают, что нужно делать, и подскажут правильный выход из ситуации.
			</p>
			<p>
				— Можно попросить взрослых помочь тебе придумать план действий, как справиться с обидчиками самостоятельно: тогда ты сможешь сам разобраться с ситуацией и не прослыть стукачом и ябедой.
			</p>
			<p>
				— Всегда сохраняй доказательства травли: информацию о телефонных звонках, сообщения в социальных сетях, SMS, сломанные или испорченные вещи, свидетельства других, которые видели, как и кто тебя обижал.
			</p>
			<p>
				— Если ты не знаешь, к кому обратиться и что делать, позвони на всероссийскую Линию помощи «Дети Онлайн» (8 800 25 000 15). Звонок бесплатный с любого телефона из любого региона России. Наши специалисты помогут тебе разобраться в проблеме, подскажут, как правильно вести себя в сложившейся ситуации и к кому из взрослых лучше всего обратиться за помощью. Если ты захочешь, они могут поговорить с твоими родителями и учителями, чтобы помочь им разобраться в твоей проблеме. Если травля происходит в Интернете, мы можем помочь тебе обратиться к администраторам онлайн-ресурсов.
			</p>

			<h3>
				Твоя вторая задача — выглядеть сильным 
			</h3>

			<p>
				— Смейся! Чувство юмора — чуть ли не главный помощник в борьбе с буллингом. Если в ответ на обзывательство, издевку или злую шутку рассмеяться, то в следующий раз твоему противнику просто не захочется к тебе приставать, ведь он поймет, что его слова не задевают тебя.
			</p>
			<p>
				— Если тебя обижают одноклассники, знакомые или старшеклассники, самое главное — не показывать свои эмоции: страх, обиду, неприязнь, слёзы. Ведь буллерам только этого и нужно, это их цель — вывести тебя из себя. Не позволяй им этого! Игнорируй их словесные нападки, как бы тяжело ни было! Изо всех сил показывай, что тебя не так-то и просто задеть, оскорбить и обидеть, что ты легко можешь постоять за себя.
			</p>
			<p>
				— Не применяй физическую силу в ответ, потому что дракой вопрос не решить. К тому же ты можешь только ещё больше разозлить буллера.
			</p>
			<p>
				— Удивляй противников неожиданным поведением, сбивай с толку внезапными вопросами — словом, ломай привычную для них схему взаимоотношений. Если тебя будет сложно предугадать, скорее всего, твоим обидчикам не захочется тратить на тебя время и силы. 
			</p>

			<h3>
				Третья задача — всегда быть вежливым и дружелюбным с другими ребятами
			</h3>

			<p>
				— Будь честным и открытым.
			</p>
			<p>
				— Поддерживай друзей и незнакомых ребят, которым грустно или плохо.
			</p>
			<p>
				— Вступайся за других, если ты видишь, что кого-то буллят, ведь ты бы тоже хотел, чтобы к тебе кто-то пришел на помощь в сложной ситуации!
			</p>
			<p>
				— Будь щедрым, добрым и гостеприимным — так у тебя всегда будет много друзей, а проводить время в большой компании всегда веселее, интереснее и безопаснее!
			</p>
		</div><!-- /.article__text -->
	
	</div> <!-- /.article__wrap -->

</section> <!-- /.article -->


<section class="container__section section article" id="article-3">
	
	<div class="section__wrap article__wrap">

		<h2 class="section__title article__title">
			Что делать, если ты видишь, как кого-то обижают?

		</h2>

		<div class="section__text article__text text">

			<p>
				— Если обижают твоих друзей, одноклассников или просто кого-то незнакомого— не проходи мимо, никогда не бросай никого в беде! 
			</p>
			<p>
				— Если силы неравны и тебе страшно выступить против нескольких человек или одного сильного старшеклассника — это нормально. В этом случае как можно скорее привлеки внимание друзей, а лучше взрослого: учителя, охранника или просто прохожего. 
			</p>
			<p>
				— Расскажи своим родителям, что кого-то из твоих знакомых постоянно обижают — они подскажут, что делать и как помочь твоему другу/однокласснику.
			</p>
			<p>
				— Не оставайся безучастным к чужой беде, подумай, а каково было бы тебе, если бы вдруг тебе никто не помог?
			</p>

		</div><!-- /.article__text -->
	
	</div> <!-- /.article__wrap -->

</section> <!-- /.article -->


@@if (role === "boys"){

@@include('../common/article-footer.html', {
	"role": "boys"
})

}

@@if (role === "girls"){

@@include('../common/article-footer.html', {
	"role": "girls"
})

}


